:root {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    --text-primary: #85586f;
    --text-secondary: #D0B8A8;
    --bg-primary: #F8EDE3;
    --bg-secondary: #DFD3C3;
    --transition: width 200ms ease;
  }
  body {
      color: var(--text-primary);
      background-color: var(--bg-primary);
      margin: 0;
      padding: 0;
  }
  main {
    margin-left: 20rem;
    padding: 1rem;
  }

  /*Barra horizontal*/
  .navhori {
    width: 100%;
    height: 7rem;
    position: fixed;
    background-color: var(--text-primary);
  }

  #hori {
    flex-direction: row;
  }

  #toptext {
    padding-left: 1.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 2rem;
    position:absolute;
    right: 1.5rem;
    top: .7rem;
    display: flex;
    align-items: normal;
  }

  #es {
    padding-left: 1.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 2rem;
    position:absolute;
    right: 8rem;
    top: .7rem;
    display: flex;
    align-items: normal;
  }
  #en {
    padding-left: 1.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 2rem;
    position:absolute;
    right: 15rem;
    top: .7rem;
    display: flex;
    align-items: normal;
  }
  /*Barra lateral*/
  .navbar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: var(--text-primary);
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display:  flex;
    align-items: center;
  }

  #nav {
    flex-direction: column;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 10rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition);
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
  }

  .fa-primary {
    color: var(--bg-secondary) ;
  }
  .fa-secondary {
    color: var(--bg-primary); 
  }

  .fa-primary,
  .fa-secondary {
    transition: var(--transition) ;
  }

  #nombre {
    font-size: 4rem;
  }

  #contenido {
    font-size: 2rem;
  }

  .title {
    margin-top: 8rem;
    font-size: 4rem;
  }

  #pfp {
    display: inline-block;
    text-align: center;
    height: 20rem;
    padding-left: 40%;
  }